Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(?:config|database|includes)/ - [F,L,NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^$ index.php [L]
</IfModule>

<FilesMatch "\.(?:env|ini|log|md|sql)$">
    Require all denied
</FilesMatch>

<FilesMatch "^(?:\.|config\.php|config\.example\.php)$">
    Require all denied
</FilesMatch>
